<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="huy.CodeGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <huy.CodeGen.Properties.Settings>
            <setting name="GA_DbName" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="GA_ClientNamespace" serializeAs="String">
                <value>Client</value>
            </setting>
            <setting name="GA_ServerNamespace" serializeAs="String">
                <value>Server</value>
            </setting>
            <setting name="GA_DtoNamespace" serializeAs="String">
                <value>DTO</value>
            </setting>
            <setting name="GA_DefaultLanguage" serializeAs="String">
                <value>vi-VN</value>
            </setting>
            <setting name="GA_DbContextName" serializeAs="String">
                <value>TestContext</value>
            </setting>
            <setting name="GA_ViewPath" serializeAs="String">
                <value>C:\GitHub\PhuDinhClientServer\Client\Client\View\Gen</value>
            </setting>
            <setting name="GA_ViewModelPath" serializeAs="String">
                <value>C:\GitHub\PhuDinhClientServer\Client\Client\ViewModel\Gen</value>
            </setting>
            <setting name="GA_TextPath" serializeAs="String">
                <value>C:\GitHub\PhuDinhClientServer\Client\Client\Text</value>
            </setting>
            <setting name="GA_ControllerPath" serializeAs="String">
                <value>C:\GitHub\PhuDinhClientServer\Server\src\Server\Controllers\Gen</value>
            </setting>
            <setting name="GA_DtoPath" serializeAs="String">
                <value>C:\GitHub\PhuDinhClientServer\Shared\DTO\Gen</value>
            </setting>
            <setting name="GA_EntityPath" serializeAs="String">
                <value>C:\GitHub\PhuDinhClientServer\Server\src\Server\Entities\Gen</value>
            </setting>
        </huy.CodeGen.Properties.Settings>
    </userSettings>
</configuration>